<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js.js}"/>

</head>

<body>
<div align="center">
    <p>Type the name</p>
    <form action="/ajax/add" method="post">

        <input list="anrede" id="title" name="title" type="text" onkeyup="crunchifyAjax()" autocomplete="off"/>

        <input type="submit" id="bt_submit"/>
    </form>
    <div id="result"></div>
</div>

<datalist id="anrede"></datalist>

<script type="text/javascript">

</script>
</body>


</html>